{%- assign has_section_separator = false -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'separator' -%}
    {%- assign has_section_separator = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- capture faq_content -%}
  {% assign accordion = '' %}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'separator' -%}
        {% assign accordion = "group-" | append: block.id %}
        <h1 class="ml-4 my-5" {{ block.shopify_attributes }}>
          <span id="block-{{ block.id }}"></span>
          {{- block.settings.title | escape -}}
        </h1>

      {%- when 'question' -%}
        <div class="my-3" {{ block.shopify_attributes }}>
          <h2 class="my-3" v-b-toggle.faq-resp-{{ block.id }}>
            <span class="text-muted faq-icon">
              {% render 'icon' with 'select-arrow-right' %}
            </span>
            <span class="btn btn-link p-0 text-left d-inline">
              {{ block.settings.title | escape }}
            </span>
          </h2>
          <b-collapse id="faq-resp-{{ block.id }}"
            accordion="{{ accordion }}"
            class="my-3 pl-4"
          >
            {{ block.settings.answer }}
          </b-collapse>
        </div>
      {%- endcase -%}
    {%- endfor -%}
{%- endcapture -%}

<section data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row">
      {%- if has_section_separator -%}
        <div class="col-sm-3 d-none d-sm-block mb-2">
          <ul class="list-group list-group-flush position-sticky" style="top:180px">
            {%- assign faq_separator_count = 0 -%}
            {%- for block in section.blocks -%}
              {%- if block.type == 'separator' -%}
                <li class="list-group-item" @click="goto('block-{{ block.id }}')">
                  <span class="btn btn-link text-let">
                    {{ block.settings.title | escape }}
                  </span>
                </li>
                {%- assign faq_separator_count = faq_separator_count | plus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      <div class="col ml-3">
        {{- faq_content -}}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "blocks": [
    {
      "type": "separator",
      "name": "Section separator",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Default"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
